.contact-preview {
    position: relative;
    background-color: $clr1;
    border-radius: 3px;
    overflow: hidden;
    max-width: 250px;
    min-width: 250px;

    background-repeat: no-repeat;
    background-size: 18%;
    cursor: pointer;

    .img {
        height: 3rem;
        width: 3rem;
        background-color: rgba(white, 0.5);
        background-size: cover;
        background-position: center;
        border-radius: 50%;
    }

    .info {
        padding: 10px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        .user-img {
            margin-inline-end: 40px;
            width: 60px;
        }
    }

    .remove-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 15px;
        transform: translateX(170%);
        transition: transform 0.2s;
    }

    &:hover .remove-btn {
        transform: translateY(0);
    }
}
