// Colors
$clr1: #b1660c;
$clr2: #1d1d1d;
$clr3: #5c3fc5;
$clr4: #696969;
$clr5: #d5d5d5;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;
