.contact-details {
    width: 100%;

    .contact-actions,
    .contact-header {
        width: 100%;
        position: relative;
    }

    .edit-contact {
        position: absolute;
        bottom: 0;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        background-color: #f7941d;
        color: $clr2;

        svg {
            height: 1.5rem;
            width: 1.5rem;
        }
        &:hover {
            color: $clr5;
            font-weight: bold;
            text-decoration: underline;
            box-shadow: 0px 0px 0px 5px rgba($clr1, 0.3);
        }
    }
}

.transfer-fund {
    background-color: rgba($clr1, 0.2);
    border-radius: 1rem;
    border: 1px solid $clr1;
    color: $clr1;
    padding: 1rem;
    height: 150px;

    button {
        background-color: $clr2;
        color: $clr1;
        border: none;
        height: 2rem;
        &:hover {
            color: $clr5;
        }
    }

    .msg {
        position: absolute;
        background-color: $clr2;
        padding: 1rem;

        border-radius: 0.5rem;
        border: 1px solid $clr1;
    }

    input {
        height: 2rem;
        background-color: rgba($clr1, 0.2);
        box-shadow: none;
        border: 1px solid $clr2;
        text-align: center;
        color: $clr5;

        &::placeholder {
            color: $clr5;
            text-align: center;
        }
    }
}
